.header {
  top:0;
  width: 100%;
  height:60px;
  background-color: #00BCD4;
  box-shadow: 0px 0px 3px 2px #888888;
  margin-bottom: 5px;
  position: fixed;
  overflow: hidden;
}

#searchBar {
  float: right;
  margin: 11px 20px 0 0;
  background-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 35px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-sizing: border-box;
  border-radius: 0;
  border-bottom: 0;
  background-image: url('../assets/search.png');
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;

  padding-left: 30px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  cursor: pointer;
}
#searchBar:focus {
  outline: none;
  padding-left: 30px;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  border-bottom: 0.4px solid white;
  letter-spacing: 2px;
  width:300px;
  cursor: text;
}
#title {
  float: left;
  padding-top: 14px;
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Joti One', cursive;
  color: white;
  letter-spacing: 2px;
}

#img-logo {
  width: 200px;
}
